h1{
color: #CC3399;
background-color: #00CCFF;
}
h2{
  color: #5FA0A3;
  background-color: #B87B35;
}
#een{
width: 200px;
height: 200px;
background-color: #4F7994;
}
#twee{
  width: 200px;
  height: 200px;
  background-color: #77B8E0;
}
#drie{
  width: 200px;
  height: 200px;
  background-color: #94804E;
}
#vier{
  width: 200px;
  height: 200px;
  background-color: #E0B177;
}
#vijf{
  width: 200px;
  height: 200px;
  background-color: #4F8BCE;
}
#zes{
  width: 200px;
  height: 200px;
  background-color: #315782;
}
#zeven{
  width: 200px;
  height: 200px;
  background-color: #CFBD4E;
}
#acht{
  width: 200px;
  height: 200px;
  background-color: #826A31;
}
#negen{
  width: 200px;
  height: 200px;
  background-color: #B87B35;
}
#tien{
  width: 200px;
  height: 200px;
  background-color: #6B481F;
}
#elf{
  width: 200px;
  height: 200px;
  background-color: #4E8385;
}
#twaalf{
  width: 200px;
  height: 200px;
  background-color: #B9E9EB;
}
#dertien{
  width: 200px;
  height: 200px;
  background-color: #704109;
}
#veertien{
  width: 200px;
  height: 200px;
  background-color: #BD6F0F;
}
#vijftien{
  width: 200px;
  height: 200px;
  background-color: #173B3D;
}
#zestien{
  width: 200px;
  height: 200px;
  background-color: #5FA0A3;
}
